/* ALL PAGE */
:root{
    --main-red-color: #DC2521;
    --main-blue-color: #311B42;
    --main-lightblue-color: #9c98BD;
    --main-white-color: #FEFCE7;
    --main-yellow-color: #F3952A;
    
}

body{
    margin: 0px;
}

body > div {
    width: 100vw;
    height: 100vh;
}



/* LoginPage */

#login_page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-red-color);
}

#loginContainer{
    background-color: var(--main-red-color);
    display: flex;
    flex-direction: column;
    padding: 50px;
}

#loginContainer > div, #loginContainer > input{
    margin-bottom: 4px;
}

#loginContainer > input[type=text], #loginContainer > input[type=password] {
    background-color: var(--main-red-color);
    font-size: 20px;
    padding: 5px;
    border: 0px;
    border-bottom: 2px solid var(--main-white-color);

}

.button {
    background-color: var(--main-white-color);
    color: var(--main-yellow-color);
    font-size: 20px;
    padding: 5px;
    border: 0px;
    border-radius: 10px;
}

.button:hover {
    color: var(--main-lightblue-color);
}

/* GAME PAGE */

.header{
    width: 100vw;
    height: 10vh;
    background-color: var(--main-red-color);
    color: var(--main-yellow-color);
}

#map{
    height: 90vh;
    z-index: 1;
}

.startQuestion{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5vw;
    top: 88vh;
    height: 10vh;
    width: 90vw;
    background-color: var(--main-red-color);
    color: var(--main-yellow-color);
    z-index: 2;
}

/* SCOREBOARD PAGE */

/* ADMIN PAGE */


