/* LoginPage */

#login_page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginContainer{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
