/* ALL PAGE */
:root{
    --main-red-color: #DC2521;
    --main-blue-color: #311B42;
    --main-lightblue-color: #9c98BD;
    --main-white-color: #FEFCE7;
    --main-yellow-color: #F3952A;
    
}

::placeholder { /* Firefox, Chrome, Opera */ 
    color: var(--main-blue-color); 
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: var(--main-blue-color);
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: var(--main-blue-color);
} 

@font-face { font-family: Allerta-Regular; src: url('fonts/Allerta-Regular.ttf'); } 
@font-face { font-family: Molot; src: url('fonts/Molot.otf');}

body{
    margin: 0px;
}

body > div {
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
    align-items: center;
}



/* LoginPage */

#login_page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-red-color);
}

#loginContainer{
    background-color: var(--main-red-color);
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

#loginContainer > div,
#loginContainer > input{
    margin-bottom: 4px;
}

#username,
input[type=text]:focus,
input[type=text]:valid {
  border-color: var(--main-blue-color);
}

#loginContainer > input[type=text],
#loginContainer > input[type=password],
#loginContainer > input[type=email] {
    background-color: var(--main-red-color);
    font-size: 20px;
    padding: 5px;
    border: 0px;
    border-bottom: 2px solid var(--main-white-color);
    color: var(--main-yellow-color);
    transition: border 0.6s ease;
}

.button {
    background-color: var(--main-white-color);
    color: var(--main-yellow-color);
    font-size: 20px;
    padding: 5px;
    border: 2px solid var(--main-blue-color);
    border-radius: 10px;  
    width: 100%;
}

.button:hover {
    color: var(--main-lightblue-color);
    box-shadow: 1px 1px black;
}

#loginErrorMsg {
    background-color: var(--main-yellow-color);
    color: var(--main-red-color);
    text-align: center;
}

/* GAME PAGE */

/* HEADER */

.header{
    width: calc(100vw-4px);
    height: 10vh;
    background-color: var(--main-red-color);
    color: var(--main-yellow-color);
}

.userInfo {
    position: absolute;
    margin: 10px;
}

.logoContainer {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

#map{
    height: 90vh;
    z-index: 1;
}

.startQuestion{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5vw;
    top: 88vh;
    height: 10vh;
    width: 90vw;
    background-color: var(--main-red-color);
    color: var(--main-yellow-color);
    z-index: 2;
}

.questionWrapper{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5vw;
    top: 14vh;
    height: 80vh;
    width: 90vw;
    background-color: var(--main-red-color);
    color: var(--main-yellow-color);
    z-index: 2;
}




.questionWrapperInside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 98%;
    width: 98%;
    background-color: var(--main-white-color);
    font-family: Molot;
}

.questionWrapper > div > div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0px;
}

.questionText{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 0% 10%;
    text-align: center;
}

.questionTimer{
    position: absolute;
    font-size: 34px;
    font-family: Molot;
    top: 15px;
    right: 15px;
}

.questionTimerShake{
    transition: 3s;
    animation: 1s shake infinite;
    color: red;
    top: 0px;
    right: 25px;
    font-size: 80px;
}

@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }
  

.TimeLeft{
    width: 100%;
    background-color: teal;
    transition: width 1s linear;
}

.TimeGone{
    background-color: tomato;
}

.questionAnswer{
    display: grid;
    grid-gap: 10px;
    margin: 10px;
    grid-template-columns: repeat(2,1fr);
    flex-grow: 10;
}

.questionAnswer > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    border: 1px solid black;
    height: 100%;
    width: 100%; 
}

/* SCOREBOARD PAGE */

/* ADMIN PAGE */



